<html>
<head>
  <title> OPEN WORLD EMPIRE </title>
 
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   
   <script src="./static/game/Globals.js"></script>
   <!-- Automatically loaded scripts -->
    {% for script in scripts %}
      <script src="{{ script }}"></script>
    {% endfor %}
  <!-- end -->

  <script type="text/javascript">
   window.onload = function() {
      Canvas.init();
      game.start();
 //     networkManager.connect();
    }
  </script>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <style type='text/css'>
  #gui-messages {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      display: block;
  }
  #gui-messages.hide { display: none; }
  #gui-messages .message-container {
      position: absolute;
      top: 50px;
      left: 250px;
      font-family: Open Sans;
      font-size: 12px;
  }
  #gui-messages .message-container .message {
    position: relative;
    background: #FF6A00;
    color: #000;
    padding: 4px;
    border: 2px solid #000;
  }
  #gui-messages .message-container .message:after, #gui-messages .message-container .message:before {
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  #gui-messages .message-container .message:after {
    border-color: rgba(255, 106, 0, 0);
    border-top-color: #FF6A00;
    border-width: 8px;
    margin-left: -8px;
  }
  #gui-messages .message-container .message:before {
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000;
    border-width: 11px;
    margin-left: -11px;
  }
  #gui-messages .prompt {
      position: absolute;
      margin-left: -320px;
      top: 50%;
      left: 50%;
      padding: 6px;
      border-radius: 6px;
      background-color: rgba(0, 0, 0, .7);
      font-family: Open Sans;
      display: none;
  }
  #gui-messages .prompt input {
      font-size: 16px;
      color: #fff;
      border: none;
      width: 640px;
      background-color: rgba(0, 0, 0, .5);
      font-family: Open Sans;
  }
  #gui-messages .prompt.open {
    display: block;
  }


  body {
    font-family: Open Sans;
    color: #fff;  
  }
  body input {
      background-color: #555;
      color: #fff;
      border: none;
      font-size: 14px;
      padding: 4px;
  }
  #intro-screen {
      z-index: 40;
  }
  </style>
</head>

<body style='background-color: #333; margin: 0px;'>
<div id='gui-messages' class='hide'> 
  <div class='prompt'>
    <input type='text'>
  </div>
</div>
<!--<div id='intro-screen' style="margin: 0 auto; width: 350px; margin-top: 50px;">
  <section>
    Name: <input type='text' id='username'><br><br>
    <canvas width='64px' height='64px' id='make-player'></canvas>
    <div style="display: inline-block; border: 1px solid #fff; vertical-align: top;">
            <span id='hair' style='cursor: pointer'>CHANGE HAIR</span><br>
            <span id='shirt' style='cursor: pointer'>CHANGE SHIRT</span>
    </div>
<br><br>
    <div style='color: #fff; display: inline-block; background-color: #454545;' id='enter'>ENTER WORLD~</div>
  </section>
</div>-->

<!--<script type="text/javascript">
function enterGame() {
   window.player_settings = {
     name: $("#username").val(),
     hair: window.preview.hairFrame,
     shirt: window.preview.shirtFrame
   };

   $("#intro-screen").remove();
   $("#gui-messages").removeClass('hide');

   game.init();
   networkManager.connect();
}
/* loading screen crap */
var playerCTX;
var playercanvas;
function updatePreview() {
    playerCTX.fillStyle = "#61A12B";
    playerCTX.fillRect(0,0,playercanvas.width,playercanvas.height);

    window.preview.draw();
}
function Preview() {
    this.sprites = [];
    this.hairFrame = 0;
    this.shirtFrame = 0;
    var body = this.body = sprite.player.body;
    this.sprites.push(body);

    var hair = this.hair = sprite.player.hair[0];
    this.sprites.push(hair);

    var shirt = this.shirt = sprite.player.shirt[0];
    this.sprites.push(shirt);

    this.nextHair = function() {
       this.hairFrame = sprite.player.nextHair( this.hairFrame ); 
       this.sprites[1] = sprite.player.hair[this.hairFrame];
       updatePreview();
    }
    this.nextShirt = function() {
       this.shirtFrame = sprite.player.nextShirt( this.shirtFrame); 
       this.sprites[2] = sprite.player.shirt[this.shirtFrame];
       updatePreview();
    }

    this.draw = function() {
        this.sprites.map(function(n) {
          playerCTX.drawImage(n, 0, 0, 32, 32, 16, 16, 32, 32);
        });
    };
}

window.onload = function() {
    window.world = new World();
    window.world.load();

    sprite.player.load();

    playercanvas = document.getElementById("make-player");
    playerCTX = playercanvas.getContext('2d'); 
 
    window.preview = new Preview();
    updatePreview();

    $("#hair").click(function() {
      window.preview.nextHair();   
    });
    $("#shirt").click(function() { window.preview.nextShirt(); });
    $("#enter").click(enterGame);
}   
</script> -->
</body>
</html>
